body {
  font-family: sans-serif;
}

table {
  width: 100%;
}

.container {
  padding: 100px 100px;
}

.button {
  color-scheme: #1e90ff;
  text-decoration-color: #fff;
}

.edit {
  color: #1e90ff;
}
